
#slider-wrapper > div {
    flex: 0 0 auto;
    scroll-snap-align: start !important;
    transition: transform .9s ease-in-out;
}

@media (max-width: 576px) {
    /* This changes only the transition duration */
    #slider-wrapper > div {
        transition-duration: .4s;
    }
}

.carousel-elements-size {
    width: 80%;
    aspect-ratio: 30 / 31 !important;
}

@media (min-width: 400px) and (max-width: 576px) {
    .col-xs-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .carousel-elements-size {
        height: 100%;
    }
}

.height-class {
    min-height: 150px;
}

/* ------- Element styling ------- */

.player-carousel-card {
    --card-height: 100%;
    height: var(--card-height) !important;
    width: 70%;
    aspect-ratio: 18/27 !important;
}

.player-carousel-card > a > img {
    aspect-ratio: 30/39 !important;
}

.player-text-div {
    width: 95%;
    max-height: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.player-carousel-card:hover {
    box-shadow: var(--darkgreen-disabled) 3px 0.2rem 3px;
    text-decoration: underline;
    color: white;
}
