
#selectionByClubsBtn , #selectionByDateBtn {
    min-width: 80px;
}

#searchGames input[type = text] {
    width: 40%
}

#dateSearchBar {
    width: 100%;
}

@media (min-width: 576px) {
    #searchGames input[type = text] {
        width: 180px
    }

    #dateSearchBar {
        width: 135px;
    }

    #selectionByClubsBtn , #selectionByDateBtn {
        max-width: 80px;
    }
}

.top-form-container {   /* class override */
    top: 0;
}

*:has(.not-hoverable):hover {
    color: black !important;
    text-decoration: none !important;
}
