@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');

#glitchFont {
    font-family: 'Rubick Glitch', 'Arial', system-ui;
}

.rubik-glitch-regular {
    font-family: "Rubik Glitch", 'Arial', system-ui;
    font-weight: 400;
    font-style: normal;
}

.content-height{
    height: calc(100vh - var(--header-height) - var(--footer-height));
}


.body-bg{
    background-image: url("../images/players_bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}