
:root {
  --darkgreen: #0B7A10;
  --lightgreen: #0AA411;
  --darkgreen-disabled: rgba(11, 122, 16, 0.5);
  --lightgreen-disabled: rgba(10, 164, 17, 0.5);
  --header-height: 100px;
  --footer-height: 50px;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

/* -- Colours -- */
.text-darkgreen {
  color: var(--darkgreen) !important;
}

.text-lightgreen {
  color: var(--lightgreen) !important;
}

.bg-darkgreen{
  background-color: var(--darkgreen) !important;
}

.bg-lightgreen{
  background-color: var(--lightgreen) !important;
}

.border-darkgreen {
  border-color: var(--darkgreen) !important;
}

.border-lightgreen {
  border-color: var(--lightgreen) !important;
}

.btn-lightgreen {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--lightgreen);
  --bs-btn-border-color: var(--lightgreen);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--darkgreen);
  --bs-btn-hover-border-color: var(--darkgreen);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--darkgreen);
  --bs-btn-active-border-color: var(--darkgreen);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--lightgreen-disabled);
  --bs-btn-disabled-border-color: var(--lightgreen-disabled);
}

.btn-darkgreen {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--darkgreen);
  --bs-btn-border-color: var(--darkgreen);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--lightgreen);
  --bs-btn-hover-border-color: var(--lightgreen);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--lightgreen);
  --bs-btn-active-border-color: var(--darkgreen);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--darkgreen-disabled);
  --bs-btn-disabled-border-color: var(--darkgreen-disabled);
}

/* ------------- Header ------------- */
#custom-header {
  min-height: var(--header-height) !important;
  background-color: var(--lightgreen) !important;
  /*background-image: linear-gradient(var(--lightgreen) 70%, var(--darkgreen) 99%);*/
  box-shadow: 0 3px 7px -1px #505050 !important;
  z-index: 100;
}

#chatIconBtn {
  right: 5rem;
}

#chatDiv {
  height: calc(100vh - var(--header-height));
}

#chatTerms {
  background-color: #c4c4c4;
  z-index: 5;
  overflow-y: scroll;
}

@media (max-height: 605px) {
  #ads-div {
    display: none !important;
  }
}